h1 {
    text-align: center;
    display: block;
    margin: 30px auto;
}

.thought {
    display: block;
    margin: auto; 
    width: 300px;
    padding: 40px;
}


.thought-embed {
    width: 100%;
    height: auto;
    display:block;
    margin:auto;
} 